@import "variables.scss";

.main {
  padding: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit {
  border: 1px solid white;
  padding: 24px;
  border-radius: 5px;
  background: $dark;
  color: $white;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  strong {
    font-size: 16px;
  }
  p {
    color: $white;
  }
  .habitTitle {
    margin-bottom: 1rem;
    letter-spacing: 1px;
  }
}

.flame {
  margin-right: 0.25rem;
}

.habitCards {
  margin-top: 5rem;
  h1 {
    margin-bottom: 4rem;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-direction: row;
}

.habits {
  max-width: 450px;
  label {
    margin-left: 32px;
    font-size: 24px;
  }
  input[type="checkbox"] {
    transform: scale(3);
    margin-bottom: 24px;
    accent-color: $primary;
    border: 1px solid $black;
  }
  h3 {
    margin-bottom: 32px;
    font-size: 48px;
  }
}

.checkList {
  margin-left: 24px;
}

.btnWrapper {
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 5px;
  border: none;
  color: $white;
  letter-spacing: 1px;
}

.submitBtn {
  margin-top: 32px;
  padding: 16px 64px;
  font-weight: 500;
  font-size: 16px;
  background: $gradient;
}

.btnLogin {
  background: $dark;
  padding: 4px 8px;
}

.nav {
  padding: 16px;
  background: $primary;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    color: $white;
  }
  align-items: center;
}

.input {
  padding: 4px;
  border-radius: 4px;
  border: none;
}

.loginContainer {
  * {
    margin-left: 8px;
  }
}
